{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}


		<div id="gallery-main" class="about-section">
			<div class="gallery-services gallery-work col-md-9 col-md-offset-2 ">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-9">
							<span class="heading-meta">What We do?</span>
							<h2 class="gallery-heading">About Us</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9 ">

								<div class="gallery-text">
									<h3>Help &amp; Support</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
						</div>
				</div>
			</div>

			<div class="gallery-contact gallery-work col-md-9 col-md-offset-2 ">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-9">
							<h2 class="gallery-heading">Get in Touch</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9">
							<div class="row">
								<div class="col-md-9">
									<form action="">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Name">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Email">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Phone">
										</div>
										<div class="form-group">
											<textarea name="" id="message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-primary btn-send-message" value="Send Message">
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
