<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />


	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="static/favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">


	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="static/css/style.css">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="static/js/respond.min.js"></script>
	<![endif]-->

{% block head %}{% endblock %}

</head>

<body>


	<div id="gallery-page">
		<a href="#" class="js-gallery-nav-toggle gallery-nav-toggle"><i></i></a>
		<div id="gallery-aside" role="complementary" class="col-md-3 col-md-offset-1 " style="overflow-y: hidden;" >
			<span id="gallery-logo"><a href="{{ url_for('index') }}"><img src="static/logo.png"></a></span>
			<nav id="gallery-main-menu" role="navigation">
				<ul class="sub-menu">
					<li><a data-page="" href="">Home</a></li>
					<li><a data-page="business" href="">Business</a></li>
					<li><a data-page="entertainment" href="">Entertainment</a></li>
					<li><a data-page="health" href="">Health</a></li>
					<li><a data-page="science" href="">Science</a></li>
					<li><a data-page="sports" href="">Sports</a></li>
					<li><a data-page="technology" href="">Technology</a></li>
					<li><a data-page="about" href="">About</a></li>
				</ul>
			</nav>
			<div class="gallery-footer">
				<p><small>
Copyright &copy;<script>document.write(new Date().getFullYear());</script><br> All rights reserved</span></small></p>
				<ul>
					<li><a href="https://twitter.com/Rajnivp" title="twitter" target=blank><i class="icon-twitter2"></i></a></li>
					<li><a href="https://github.com/rajnivp" title="github" target=blank><i class="icon-github"></i></a></li>
					<li><a href="https://codepen.io/rajnivp" title="codepen" target=blank><i class="icon-codepen"></i></a></li>
				</ul>
			</div>

		</div>

{% block body %}{% endblock %}
	</div>

	<div class="modal">

	</div>

	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>

	<!-- MAIN JS -->
	<script src="static/js/main.js"></script>

</body>
</html>